{% if sections %}
  <div class="page-wrapper chiller-theme toggled sidebar-height" style="z-index: 1;">
    <a id="show-sidebar" class="btn btn-sm btn-dark" href="#" style="margin-top:100px;">
      <i class="fas fa-bars">>></i>
    </a>
    <nav id="sidebar" class="sidebar-wrapper sidebar-content" style="z-index:1;">
      <div class="sidebar-content">
        <div class="sidebar-search">
          <div>
            <form method="GET">
              <div class="input-group">
                <input type="text" class="form-control search-menu" name="search" placeholder="Search...">
                <div class="input-group-append">
                  <a id="do-search" class="btn btn-primary btn-sm" type="submit" name="action">
                    <button class="btn btn-primary btn-sm" type="submit" name="action">
                    <span id="search-spinner" class="spinner-border spinner-border-sm" role="status" aria-hidden="true" style="margin-right:10px; {% if not text_search %} display:none; {% endif %}"></span>Go</button> </a>
                </div>
              </div>
            </form>
          </div>
        </div>
        <div class="sidebar-menu">
          
              {% for toplevel, topdata in sections.items %}
              <ul class="toc-section">
                <button style="display:inline-block;" class="d-inline-block btn btn-sm toc-chevron" data-toggle="collapse" aria-expanded="true" data-target="#collapse-{{ topdata.start }}">
                  <i style="color: grey;" class="fas fa-chevron-right"></i>
                  <i style="color: grey;" class="fas fa-chevron-down"></i>
                </button>
                <a align="left" class="d-inline-block" href="?page={{ topdata.start }}">
                  <li class="header-menu d-inline-block">
                    <span style="padding-bottom: 12px;">{{ toplevel }}</span>
                    {% if topdata.end %}
                        <span class="float-right" style="margin-right:-10px !important; display:inline-block; font-size:12px; position: absolute; right:10px;">{{ topdata.start }} - {{ topdata.end }}</span>
                    {% else %}
                        <span class="float-right" style="margin-right:-10px !important; display:inline-block; font-size:12px; position: absolute; right:10px;">{{ topdata.start }}</span>
                    {% endif %}
                  </li>
                </a>
                <div id="collapse-{{ topdata.start }}" class="collapse show">
                  {% for sublevel, subdata in topdata.chapters.items %}
                  <li class="sidebar-dropdown">
                  <a class="float-right toc-section" href="?page={{ subdata.start }}">
                    <span style="display:inline-block; font-size:12px; {% if subdata.end %} width: 80% {% else %} width: 90% {% endif %};">{{ sublevel }}</span>

                    {% if subdata.end %}
                        <span style="margin-right:-10px !important; display:inline-block; font-size:12px; position: absolute; bottom: 8px; right:30px;" class="float-right">{{ subdata.start }} - {{ subdata.end }}</span>
                    {% else %}
                        <span style="margin-right:-10px !important; display:inline-block; font-size:12px; position: absolute; bottom: 8px; right:30px;" class="float-right">{{ subdata.start }}</span>
                    {% endif %}
                  </a>
                  </li>
                  {% endfor %}
              </div>
              </ul>
              {% endfor %}
          
        </div>
        <!-- sidebar-menu  -->
    </div>
    </nav>
  </div>
{% endif %}
