buzz>=3.0.9
flask==1.1.1
dash==1.1.1
dash-core-components==1.1.1
dash-html-components==1.0.0
dash-daq==0.1.7
dash-renderer==1.0.0
dash-table==4.1.0 
python-dotenv==0.10.3
# Tests and CI
pre-commit
black==19.3b0
flake8
mypy
codecov
isort
bump2version
