django==3.0.4
#django-guardian==2.1.0
git+git://github.com/l0rb/django-guardian@devel#egg=django-guardian
django-plotly-dash==1.1.5
dpd-static-support==0.0.4
dash_bootstrap_components==0.7.2
whitenoise==4.1.4
buzz>=3.0.10
flask==1.1.1
dash==1.9.1
dash-core-components==1.8.1
dash-html-components==1.0.2
dash-daq==0.1.7
dash-renderer==1.2.4
dash-table==4.6.1
python-dotenv==0.10.3
# Tests and CI
pre-commit
black==19.10b0
flake8
mypy
codecov
isort
bump2version
