buzz==2.0.5
flask==1.1.1
dash==1.1.1
dash-daq==0.1.7
python-dotenv==0.10.3
# Tests and CI
pre-commit
black
flake8
mypy
codecov
isort
bump2version
git+http://github.com/interrogator/tabview.git#egg=tabview-1.4.5

