/* Hide the 'Loading...' text at startup */
._dash-loading {
    display:none;
}

.no-underline {
    text-decoration: none;
    color: blue;
}

p, ul, ol {
    padding-bottom: 7px !important;
    padding-top: 7px !important;
    margin-bottom: 0rem !important;
}

@-webkit-keyframes demo {
    0% {
        background-color: #d1f5c1;
        opacity:1;
    }
    100% {
        background-color: white;
    }
}
    
.flash {
    -webkit-animation-name: demo;
    -webkit-animation-duration: 7s;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-timing-function: ease-in-out;
}

.column-header-name::before {
  white-space: pre;
  content: "\A";
}

.column-header--hide {
    float: right !important;
}

.column-header--delete {
    float: right !important;
}

.column-header--sort {
    float: right !important;
}

.colour-off div div div {
    background: #47d153;
}

.colour-on div div div {
    background: #a32424;
}

.martor-field{
    width:98%;
    height:350px !important;
    min-height:100px}

.h2 {
    margin-top:2rem;
    margin-bottom:2rem;
}

.compare-container {
    max-width: 100vw;
    max-height: 50vh;
}

.ace_editor {
  min-height: 79vh !important;
  max-height: 79vh !important;   
}

#martor-description {
  font-size: 16pt;
}

/* control height of dash tables! */
.explore .dash-spreadsheet-inner {
  height: 80vh !important;
  min-height: 80vh !important;
  max-height: 80vh !important;
  min-width: 98vw !important;
  max-width: 98vw !important;
}

/* stop table from left-side cutoff */
.explore .dash-table-container .row {
  margin: 0;
}

label[for=id_username] {
  display:none;
}

label[for=id_password] {
  display:none;
}

.logout {
  color:white;
}

p .validate {
  margin-top:10px;
  margin-right:5px;
}

p input[type=password] {
  margin-top:10px;
  margin-right:5px;
}

.login-button {
}

input:invalid {
    outline: none !important;
}

.dash-spreadsheet-container {
  width: "-webkit-fit-content" !important;
}

.example .dash-table-container .row {
  margin: 0;
}

.from-markdown h1 {
  margin-top: 25px !important;
  margin-bottom: 25px !important;
}

.from-markdown h2 {
  margin-top: 25px !important;
  margin-bottom: 25px !important;
}

.from-markdown h3 {
  margin-top: 25px !important;
  margin-bottom: 25px !important;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 500px;
  text-align: center
}

.image-wrapper {
  box-sizing:border-box;
  float: left;
  margin-bottom:5px;
  width: 50%;
}

.image-wrapper:nth-child(even)
{
  padding-left:5px;
}

.image-wrapper:nth-child(odd)
{
  padding-right:5px;
}

.image-wrapper > img {
  width: 200px;
}

.image-wrapper > span {
  display: inline-block;
  width: 100%;
}

.dash-spreadsheet {
   height: fit-content !important;
}

.pipe {
  display:inline-block;
  color: rgba(255,255,255,.5);
}

.small-login {
  margin-bottom: 5px;
}

.navbar {
  height:85px;
}

.example .django-plotly-dash {
  margin-top: -100px;
}

.example summary {
  display: none;
}

.example #chart-from-1 {
  display: none;
  width: 1px;
}

.explore .previous-next-container {
  position: fixed;
  bottom: 0;
  right: 0;
  margin-left: 80%;
  background-color: white;
}


.example @media (min-width: 1430px) {
  .container {
    max-width: 1400px;
  }
}

.nav-item {
  z-index: 999;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  height: 100px;
  width: 100px;
  color:black;
}

.carousel-caption {
    position: relative;
    left: auto;
    right: auto;
    bottom:-1px;
    color: black;
}

.row-login li {
  margin-right: -50px;
}

.row-login li input {
  height: 30px;
}

.small-login {
  margin-left: -150px;
  width: 120px !important;
}

.login-password {
  width: 120px !important;
}


/*!
searchable cards
 */
.layout-margin-8 {
  margin: 3% 8%;
}

.card-img-top-custom {
  width: 50%;
  margin: 0 auto;
}

.card-title {
  text-align: center;
}

.card-shadow {
  -webkit-box-shadow: 0px 0px 28px 14px rgba(232,232,232,1);
  -moz-box-shadow: 0px 0px 28px 14px rgba(232,232,232,1);
  box-shadow: 0px 0px 28px 14px rgba(232,232,232,1);
}

.card-deck {
  display: flex;
  justify-content: space-around;
  flex-flow: row wrap;
  align-items: stretch;
}

.card {
  padding: 3% 1.5%;
  border: none;
  max-width: 375px;
  flex-grow: 1;
}

@media (min-width: 768px) {
.form-control {
  width: 500px !important;
  height: 50px;
}
}

.bg-blue {
  background-color: #005EB8;
}
