/* Hide the 'Loading...' text at startup */
._dash-loading {
    display:none;
}

.no-underline {
    text-decoration: none;
    color: blue;
}

p, ul, ol {
    padding-bottom: 10px !important;
    padding-top: 10px !important;
}

@-webkit-keyframes demo {
    0% {
        background-color: #d1f5c1;
        opacity:1;
    }
    100% {
        background-color: white;
    }
}
    
.flash {
    -webkit-animation-name: demo;
    -webkit-animation-duration: 7s;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-timing-function: ease-in-out;
}

.column-header-name::before {
  white-space: pre;
  content: "\A";
}

.column-header--hide {
    float: right !important;
}

.column-header--delete {
    float: right !important;
}

.column-header--sort {
    float: right !important;
}

.colour-off div div div {
    background: #47d153;
}

.colour-on div div div {
    background: #a32424;
}

.martor-field{
    width:100%;
    height:350px !important;
    min-height:100px}

.h2 {
    margin-top:2rem;
    margin-bottom:2rem;
}

.compare-container {
    max-width: 100vw;
    max-height: 50vh;
}

.ace_editor {
  height: 77vh !important;
  max-height: 80vh !important;   
}

#martor-description {
  font-size: 16pt;
}

/* control height of dash tables! */
.dash-spreadsheet-inner {
  min-height: 80vh !important;
}

/* stop table from left-side cutoff */
.dash-table-container .row {
  margin: 0;
}

label[for=id_username] {
  display:none;
}

label[for=id_password] {
  display:none;
}

p .validate {
  margin-top:10px;
  margin-right:5px;
}

p input[type=password] {
  margin-top:10px;
  margin-right:5px;
}

.login-button {
    margin-top:-5px;
}

input:invalid {
    outline: none !important;
}