{% extends "jbase.html" %}
{% load static %}
{% load martortags %}
{% block title %}buzzword: compare{% endblock %}
{% block content %}

{% include "specific_nav.html" %}
<div style="margin-top:66px;">

    {% if messages %}
        <ul class="messages">
            {% for message in messages %}
                <div style="margin-left: -28px; margin-right: 15px;" class="alert alert-dismissible fade show alert-{{ message.tags }}" role="alert">{{ message }}
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            {% endfor %}
        </ul>
    {% endif %}

    <div class="container compare-container">
      <div class="row">
        <div class="col-sm">
            <div>
                <object data={{ pdf_filepath }} type="application/pdf" style="min-height:80vh;min-width:50vw">
                    <embed src={{ pdf_filepath }} type="application/pdf" />
                </object>
                {% include "comparenav.html" %}
            </div>
        </div>
        <div class="col-sm">
            <form method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <div style="height:80vh;min-width:40vw">
                    {{ form.description }}
                    <div class="float-right">
                        Describe your changes: 
                        {{ form.commit_msg }}
                        <button type="submit" class="btn btn-primary">Update</button>
                    </div>
                </div>
            </form>
        </div>
      </div>
    </div>
</div>
{% endblock %}

