{% extends "jbase.html" %}
{% load static %}
{% load martortags %}
{% block title %}buzzword: compare{% endblock %}
{% block content %}

<div style="margin-top:100px;">

    {% if messages %}
        <ul class="messages">
            {% for message in messages %}
                <div class="alert alert-dismissible fade show alert-{{ message.tags }}" role="alert">{{ message }}
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            {% endfor %}
        </ul>
    {% endif %}

    <div class="container">
      <div class="row">
        <div class="col-sm">
            <div>
                <object data={{ pdf_filepath }} type="application/pdf" width="100%" height="400vh">
                    <embed src={{ pdf_filepath }} type="application/pdf" />
                </object>
                {% if specific_nav %} {% include "specific_nav.html" %} {% else %} {% include "comparenav.html" %} {% endif %}
            </div>
        </div>
        <div class="col-sm">
            <form method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <div style="height:100vh;">
                    {{ form.description }}
                    <div class="float-right">
                        Describe your changes: 
                        {{ form.commit_msg }}
                        <button type="submit" class="btn btn-primary">Update</button>
                    </div>
                </div>
            </form>
        </div>
      </div>
    </div>
</div>
{% endblock %}

