{% extends "jbase.html" %}
{% load static %}
{% load martortags %}
{% block title %}buzzword: compare{% endblock %}
{% block content %}

<div style="margin-top:100px;">
    <div class="container">
      <div class="row">
        <div class="col-sm">
            <div>
                <object data={{ pdf_filepath }} type="application/pdf" width="100%" height="400vh">
                    <embed src={{ pdf_filepath }} type="application/pdf" />
                </object>
                {% include "comparenav.html" %}
            </div>
        </div>
        <div class="col-sm">
            <div>
                {{ form.description }}
                <button type="submit" class="btn btn-primary">Update</button>
            </div>
        </div>
      </div>
    </div>
</div>
{% endblock %}

